In [1]:
# In: notebooks/01_data_exploration.ipynb

import sys
sys.path.append('..') # Add the project's root directory to the Python path

import pandas as pd
# Import the function you just created
from data_ingestion.yahoo_finance_fetcher import fetch_ticker_data

# Define the companies you're interested in
tickers_to_check = ['AAPL', 'GOOGL', 'TSLA', 'RELIANCE.NS', 'TCS.NS']

# Call your function to get the data
historical_data = fetch_ticker_data(tickers_to_check, period="3mo")

# Display the first 5 rows of the 'Close' prices
historical_data['Close'].head()

Fetching data for tickers: ['AAPL', 'GOOGL', 'TSLA', 'RELIANCE.NS', 'TCS.NS']...

d:\Hack_proj\notebooks\..\data_ingestion\yahoo_finance_fetcher.py:21: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(tickers, period=period, interval=interval)
[*********************100%***********************]  5 of 5 completed

Data fetched successfully.

Ticker            AAPL       GOOGL  RELIANCE.NS       TCS.NS        TSLA
Date
2025-05-19  208.543320  166.338623  1435.068481  3476.002686  342.089996
2025-05-20  206.625504  163.781723  1418.932861  3455.752197  343.820007
2025-05-21  201.860901  168.356186  1423.514526  3482.917725  334.619995
2025-05-22  201.131729  170.663391  1403.793457  3434.711182  341.040009
2025-05-23  195.048645  168.266296  1421.124268  3471.853760  339.339996

In [2]:
# In a new cell in: notebooks/01_data_exploration.ipynb

# Import your new function
from data_ingestion.news_fetcher import fetch_news_headlines

# Fetch news for a specific company
news_df = fetch_news_headlines(query="Microsoft")

# Display the first 5 headlines
news_df.head()

Fetching news for query: 'Microsoft'...
Successfully fetched 20 articles.

,publishedAt,title,description,source,url
0,2025-08-18T06:05:55Z,Google’s Gemini Model Expands Its Reach On Ora...,The move by Google and Oracle signals a future...,"{'id': None, 'name': 'Forbes'}",https://www.forbes.com/sites/janakirammsv/2025...
1,2025-08-18T06:04:49Z,Microsoft (NASDAQ:MSFT) Shares Acquired Rep. L...,Representative Lisa C. McClain (R-Michigan) re...,"{'id': None, 'name': 'ETF Daily News'}",https://www.etfdailynews.com/2025/08/18/micros...
2,2025-08-18T05:41:02Z,"In Otter news, transcription app accused of il...",Vidchat hosts probably know Otter.ai records e...,"{'id': None, 'name': 'Theregister.com'}",https://www.theregister.com/2025/08/18/otter_m...
3,2025-08-18T05:00:01Z,Dodgy boxes are everywhere and that’s bad news...,Wealth of options at piracy subscribers’ finge...,"{'id': 'the-irish-times', 'name': 'The Irish T...",https://www.irishtimes.com/sport/soccer/2025/0...
4,2025-08-18T04:56:47Z,Microsoft announces big bonanza for Windows 10...,Microsoft has issued a warning for Windows 10 ...,"{'id': 'the-times-of-india', 'name': 'The Time...",https://economictimes.indiatimes.com/news/inte...

In [3]:
# In a new cell in: notebooks/01_data_exploration.ipynb

# Import your new function
from data_ingestion.sec_edgar_fetcher import fetch_sec_filings

# Fetch the 5 most recent quarterly reports (10-Q) for Apple
apple_filings = fetch_sec_filings(ticker="AAPL", filing_type="10-Q", num_filings=5)

# Display the results
apple_filings

Fetching 10-Q filings for CIK: 0000320193...
Successfully fetched and filtered 5 10-Q filings.

   filingDate  form       accessionNumber    primaryDocument
2  2025-08-01  10-Q  0000320193-25-000073  aapl-20250628.htm
14 2025-05-02  10-Q  0000320193-25-000057  aapl-20250329.htm
45 2025-01-31  10-Q  0000320193-25-000008  aapl-20241228.htm
89 2024-08-02  10-Q  0000320193-24-000081  aapl-20240629.htm
97 2024-05-03  10-Q  0000320193-24-000069  aapl-20240330.htm

In [4]:
from data_ingestion.sec_edgar_fetcher import fetch_sec_filings

# Fetch the 5 most recent quarterly reports (10-Q) for Apple
apple_filings = fetch_sec_filings(ticker="AAPL", filing_type="10-Q", num_filings=5)

# Display the results
apple_filings

Fetching 10-Q filings for CIK: 0000320193...
Successfully fetched and filtered 5 10-Q filings.

   filingDate  form       accessionNumber    primaryDocument
2  2025-08-01  10-Q  0000320193-25-000073  aapl-20250628.htm
14 2025-05-02  10-Q  0000320193-25-000057  aapl-20250329.htm
45 2025-01-31  10-Q  0000320193-25-000008  aapl-20241228.htm
89 2024-08-02  10-Q  0000320193-24-000081  aapl-20240629.htm
97 2024-05-03  10-Q  0000320193-24-000069  aapl-20240330.htm

In [5]:
# In a new cell in: notebooks/01_data_exploration.ipynb
import os
import sys
from dotenv import load_dotenv
from sec_edgar_api import EdgarClient

# Make sure we can find the .env file
sys.path.append('..')
load_dotenv()

# Get your user-agent details
user_name = os.getenv("EDGAR_USER_NAME")
user_email = os.getenv("EDGAR_USER_EMAIL")

# Create the client object
edgar_client = EdgarClient(user_agent=f"{user_name} {user_email}")

# --- THIS IS THE IMPORTANT PART ---
# Print all available methods and attributes for the object
print(dir(edgar_client))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_rate_limited_get', '_session', 'get_company_concept', 'get_company_facts', 'get_frames', 'get_submissions']

In [6]:
from data_ingestion.sec_edgar_fetcher import fetch_sec_filings
apple_filings = fetch_sec_filings(ticker="AAPL", filing_type="10-Q", num_filings=5)
apple_filings

Fetching 10-Q filings for CIK: 0000320193...
Successfully fetched and filtered 5 10-Q filings.

   filingDate  form       accessionNumber    primaryDocument
2  2025-08-01  10-Q  0000320193-25-000073  aapl-20250628.htm
14 2025-05-02  10-Q  0000320193-25-000057  aapl-20250329.htm
45 2025-01-31  10-Q  0000320193-25-000008  aapl-20241228.htm
89 2024-08-02  10-Q  0000320193-24-000081  aapl-20240629.htm
97 2024-05-03  10-Q  0000320193-24-000069  aapl-20240330.htm

In [7]:
# In a new cell in your notebook

import sys
sys.path.append('..')

from data_ingestion.sec_edgar_fetcher import fetch_sec_filings
import pandas as pd
from sec_edgar_api import EdgarClient
from dotenv import load_dotenv
import os

# We need to manually run the first few steps of the function
# to see what the raw data looks like.
load_dotenv()
user_name = os.getenv("EDGAR_USER_NAME")
user_email = os.getenv("EDGAR_USER_EMAIL")
edgar_client = EdgarClient(user_agent=f"{user_name} {user_email}")

# Fetch submissions for Apple (CIK: 0000320193)
submissions = edgar_client.get_submissions(cik="0000320193")
filings_df = pd.DataFrame.from_dict(submissions, orient="index")

# --- THIS IS THE IMPORTANT PART ---
print("Available columns are:")
print(filings_df.columns)

print("\nFirst 2 rows of data:")
print(filings_df.head(2))

Available columns are:
RangeIndex(start=0, stop=1, step=1)

First 2 rows of data:
                     0
cik         0000320193
entityType   operating

In [8]:
# In a new cell in your notebook

import sys
sys.path.append('..')

from sec_edgar_api import EdgarClient
from dotenv import load_dotenv
import os

load_dotenv()
user_name = os.getenv("EDGAR_USER_NAME")
user_email = os.getenv("EDGAR_USER_EMAIL")
edgar_client = EdgarClient(user_agent=f"{user_name} {user_email}")

# Fetch submissions for Apple (CIK: 0000320193)
# CORRECTED VARIABLE NAME HERE:
submissions = edgar_client.get_submissions(cik="0000320193")

# Let's see what top-level keys are in the response
print("Keys available in the response object:")
print(submissions.keys())

Keys available in the response object:
dict_keys(['cik', 'entityType', 'sic', 'sicDescription', 'ownerOrg', 'insiderTransactionForOwnerExists', 'insiderTransactionForIssuerExists', 'name', 'tickers', 'exchanges', 'ein', 'lei', 'description', 'website', 'investorWebsite', 'category', 'fiscalYearEnd', 'stateOfIncorporation', 'stateOfIncorporationDescription', 'addresses', 'phone', 'flags', 'formerNames', 'filings'])